
* {

    padding: 0px;
    
    margin: 0px;
    
    box-sizing: border-box;
    }

a{
    color: #78DDF0;
}

body{
    background-color: #A33967;
}

p{
    color: #F0E15F;
}

em{
    color: rgb(143,38,31);
}

b{
    background-color: rgb(199, 58, 222);
}

u{
    background-color: orange;
}